.logo{
  display: inline;
  width: 200px;
  height: 100px;
  margin-left: 25px;
}

.search-bar{
  position : absolute;
  width: 300px;
  height: 32px;
  left : 600px;
  top: 30px;
  font-size: 20px;
  border: 2px solid black;
  background-color: #D4D4D4; 
}
 
.search-btn{
  position: absolute;
  width: 36px;
  height: 32px;
  cursor: pointer;
  left: 900px; 
  top: 30px;
}

.top{
  position: absolute;
  display: inline;
  font-size: 20px;
  top: 60px;
  left: 1300px; 
  width:200px;
}
body {
  font-size : 14px;
  font-family : "Comic Sans MS";
}

a {
  color: #00b7ff;
  text-decoration: none;
}

table, tr, td, th {
  width : 255px;
  margin: 0;
  border: 0;
  padding: 5px;
  text-align: center;
  border-collapse: collapse;
}

.index-btn {
    list-style-type: none;
    border: 2px solid black;
    border-radius: 2px;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

.index-btn:hover {
  cursor: pointer;
  background-color: #aaa;
}

.localStream {
  display: inline-block;
  top: 100px; 
  position : absolute;
  left : 1160px;
}

.localStream video {
    border: 1px solid rgb(119, 119, 119);
    outline: 0px none;
    height: 240px;
    width: 320px; 
}
.localStream li {
    list-style-type: none;
    border: 2px solid black;
    border-radius: 2px;
    text-align: center;
    padding: 5px 5px 5px 5px;   
}

.container {
  font-size: 12px;
  border-radius: 2px;
  border: solid 1px #336699;
  padding: 15px 15px 15px 15px;
  line-height: 20px;
  width: 320px;

}
.VideosContainer{
    -webkit-filter : none;   
}
.container form2{
    width: 290px; 
}
.remoteStreams{
  height:722px;
  width:258px;
  display: inline-block;
  top: 15px;
  right: 15px;
  float: left;
  text-align: center;
}

.remoteStreams td:hover {
  cursor: pointer;
  background-color: #aaa;
}

.remoteStreams .selected {
  background-color: #444 !important;
  text-shadow:none;
  border-right-color: #aaa;
  border-left: none;
  border-radius: 3px 3px 3px 3px; 
  box-shadow:inset 1px 2px 6px #070707;
}
.remotevideo{
    border: 1px solid rgb(119, 119, 119);
    outline: 0px none;
    height: 600px;
    width: 800px;   
    position:absolute;
    left : 340px;
    top: 100px;
    -webkit-filter:none;
}
.remotevideo video{
    height: 600px;
    width: 800px;   
}

.donate-btn{
  position: absolute;
  left : 1160px;
  top: 820px;
  width: 80px;
  height: 80px;
}
.filter{
  position: absolute;
  left : 1240px;
  top: 820px;
  width: 80px;
  height: 80px;
}
.switch{
  position: absolute;
  left : 1320px;
  top: 820px;
  width: 80px;
  height: 80px;
}

#popup{
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  left : 1100px;
  top: 770px;
}
#popup_fliter{
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  left : 1230px;
  top: 770px;
}

#popup_sw{
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  left : 1350px;
  top: 770px;
}

.money-li{
  display: inline;
  list-style-type: none;
  margin-top: 10px;
  margin-left:50px;
  border-radius: 2px;
  width: 100px;
  height: 100px;
}

.money-btn{
  width: 70px;
  height: 70px;
}

#MsgFromDonor{
  font-size: 30px; 
  z-index: 1; 
  position: absolute; 
  top:100px;
  left: 350px;
  color: white;
  -webkit-text-stroke: 1px black;
}

.hidden{
  opacity: 0;
} 

.show{
  animation-name:slide;
  animation-duration:8s;
  animation-fill-mode: forwards;
}

@keyframes slide{
  0%{
    opacity: 0;
    left: 50px;
  }
  40%{
    opacity: 1;
    left: 350px;
  }
  70%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.footer {
   clear: both;
}

 #msg{
    height: 40px;
    width: 320px;
    background-color: white;
 }

 #sendMsg{
   position: relative;
   height: 35px;
   top: 3px;
   left: 285px;
 }
 .disabled {
 	  color: gray;
    width: 100px;
 }
 .enabled {
 	color: true;
 }
 .none{
   display : none;
 }



 /*------------------------------------
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

#new{
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.videofliter{
-webkit-filter:none; 
}
